.notification {
  position: absolute;
  right: 90px;
  top: 7px;
  max-width: 270px;
  background-color: teal;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  padding: 10px;
}

.enter {
  opacity: 0;
  transform: translateY(-100%);
}
.enterActive {
  opacity: 1;
  transform: translateY(0);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: translateY(0);
}
.exitActive {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 250ms linear;
}
